<h2><%= @cocktail.name %></h2>

<p>Ingredients:</p>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %> <%= dose.ingredient.name %> <%= link_to "delete this dose", dose_path(dose),
    method: :delete,
    data: { confirm: "Are you sure?" },
    class: "btn btn-danger" %>
  </li>
  <% end %>
</ul>
<%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), { class: "btn btn-success" } %>
<%= link_to "back", cocktails_path, { class: "btn btn-primary" } %>
